.flex-parent {
  display: flex;
}

.flex-child {
  border: 2px solid black;
  border-radius: 10px;
  min-width: 300px;
  max-width: 18%;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #873d2c;
}

a:hover {
  color: #642e21;
}	

h2 {
 
}

h3 {

}